@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .loader {
    @apply w-[45px] aspect-[1] animate-loading-spin;

    --c: no-repeat linear-gradient(#00607a 0 0);

    background: var(--c) 0 0, var(--c) 0 100%, var(--c) 50% 50%, var(--c) 100% 0,
      var(--c) 100% 100%;
  }

  .page-container {
    @apply container flex flex-col items-center min-h-screen p-6 space-y-6 sm:p-12 md:p-24;
  }
}
